.content
  %h1.banner= @title
  %form{:method => 'post', :controller => 'home', :action => '/'}
    .row
      .column
        .colrow1
          %p Enter names / emails (one per line):
        .colrow2
          %textarea.field{:name => 'recipients', :placeholder => 'Joe,Jones,joe@example.com', :rows => '13', :autofocus => ''}= @recipients
      .column
        .colrow1
          %p Enter the text.  The following substitutions are valid:
          %ul
            %li {first}
            %li {last}
            %li {email}
        .colrow2
          %input.field{:type => 'text', :placeholder => 'Subject', :name => 'subject', :value => @subject}
          %textarea.field{:name => 'emailbody', :placeholder => 'Body', :rows => '10'}= @body
          %input.submit{:type => 'submit', :value => 'Preview', :name => 'preview'}
  - if @body
    = render 'mailpreview'
